# PostgreSQL Ayarları
POSTGRES_USER=postgres
POSTGRES_PASSWORD=BurayaGucluBirSifreYazin
POSTGRES_DB=StoreHubDb

# JWT Ayarları
JWT_KEY=SizinCokGizliSifrenizBurayaGelecek
JWT_ISSUER=StoreHub
JWT_AUDIENCE=StoreHubUsers
JWT_DURATION_DAYS=7

# Connection String
DB_CONNECTION_STRING=Host=db;Database=StoreHubDb;Username=postgres;Password=BurayaGucluBirSifreYazin
